amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
cycler==0.10.0
Cython==0.24
Flask==0.10.1
honcho==0.7.1
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
MarkupSafe==0.23
numpy==1.11.0
psycopg2==2.6.1
pyparsing==2.1.4
python-dateutil==2.5.3
pytz==2016.4
redis==2.10.5
scikit-learn==0.17.1
scikits.talkbox==0.2.5
scipy==0.17.0
six==1.10.0
sklearn==0.0
Werkzeug==0.11.9
youtube-dl==2016.5.10
