<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="static/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="static/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="static/images/favicon-48x48.png" sizes="48x48">
  <meta charset="UTF-8">
  <meta property="og:url"           content="trumplearn.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Trump Learn" />
  <meta property="og:description"   content="Recognize the voice of Donald Trump in Youtube videos" />
  <meta property="og:image"         content="static/images/logo.png" />
  <title>Trump Learn</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div id="sidebar">
    <div class="sidebar-content">
      <div class="logo"></div>
      <h1>Trump Learn</h1>
      <p>Recognize Donald Trump's voice in youtube videos using machine learning.</p>
      <form id="new-video">
        <label>Add a video:</label>
        <input type="text" placeholder="https://www.youtube.com/watch?v=...." id="new-video-input">
        <input type="submit" value="Recognize" />
      </form>
    </div>
    <div class="footer">
      Made by <a href="twitter.com/dnaielravina">@danielravina</a> | Graphics by <a href='http://www.freepik.com'>freepik</a></p>
    </div>
  </div>
  <div id="mainarea">
    <div class="gauge-text" id="yes-trump">trump</div>
    <div id="playerWrapper">
      <div id="player"></div>
    </div>
    <div class="gauge-text" id="not-trump">not trump</div>
    <div class="rest" id="needle"></div>
    <div class="social">
      <ul>
        <li>
          <a href="https://twitter.com/intent/tweet?hashtags=trumplearn" class="external" id="twitter"></a>
        </li>
        <li>
          <a href="http://www.reddit.com/submit?url=trumplearn.com&title=Trump-Learn%20-%20Trump%20Voice%20Recognition" class="external" id="reddit"></a>
        </li>
        <li>
          <a href="http://www.facebook.com/share.php?u=trumplearn.com&title=Trump-Learn%20-%20Trump%20Voice%20Recognition" class="external" id='facebook'></a>
        </li>
        <li>
          <a href="//github.com/danielravina/trump-learn" target="_blank" id="github">
        </li>
      </ul>
    </div>
    <div id="error"></div>
  </div>
  <div id="loadingWrapper">
    <div class="loading">
      <img src="https://media.giphy.com/media/jSB2l4zJ82Rvq/giphy.gif" alt="">
      <a href="http://giphy.com/search/trump" class="external">giphy</a>
      <p>Recognizing...</p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="static/js/application.js"></script>
  <script src="static/js/new-video-form.js"></script>
  <script>
    function openwindow(url){
      var w = 640
      var h = 360
      var left = (screen.width/2)-(w/2);
      var top = (screen.height/2)-(h/2);
      NewWindow=window.open(url,'newWin','width='+w+',height='+h+',toolbar=No,top='+top+', left='+left+',location=No,scrollbars=no,status=No,fullscreen=No');
      NewWindow.focus();
      void(0);
    }
    $('a.external').click(function(e) {
      e.preventDefault()
      openwindow($(e.target).attr('href'))
    })
    </script>
</body>
</html>
