@import url(https://fonts.googleapis.com/css?family=Rubik+One|family=Open+Sans:400,200);
body {
  color: #444;
  height: 100%;
  margin: auto;
  font: 600 16px/16px "Open Sans", sans-serif;
  background: #fefefe;
  transition: all 0.4s ease; }
  body.red {
    background: gold; }

ul {
  margin: 0;
  padding: 0; }

h1, h4 {
  font-family: "Rubik One", sans-serif; }

h1 {
  letter-spacing: -2px; }

h4 {
  font-weight: 100;
  font-size: 22px; }

p, h1, h4, label {
  color: #404040; }

p, input, label, input {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

#mainarea {
  position: relative; }

.intro {
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin: auto;
  margin-top: -30px;
  text-align: center;
  z-index: 1;
  background: white;
  top: 40px;
  bottom: 0; }
  .intro.active {
    visibility: visible;
    opacity: 1; }
  .intro .wrapper {
    width: 560px;
    margin: auto; }
    .intro .wrapper p {
      line-height: 1.5;
      font-size: 36px;
      margin-bottom: 15px;
      margin-top: 8px; }
      .intro .wrapper p.smaller {
        text-align: left;
        font-size: 20px; }
  .intro .magic {
    text-decoration: underline;
    color: inherit; }

#playerWrapper {
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  position: relative;
  margin: auto;
  top: 15px;
  width: 640px; }
  #playerWrapper.active {
    opacity: 1;
    visibility: visible; }
  #playerWrapper h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: normal; }

.new-video input {
  font-style: italic;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #676767;
  border: solid 2px rgba(51, 51, 51, 0.1);
  outline: none;
  border-radius: 3px; }

#header {
  background: rgba(0, 0, 0, 0.03); }
  #header a {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    text-decoration: none; }
  #header .container {
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    max-width: 1024px;
    height: 80px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px; }
  #header .logo {
    display: flex;
    display: -webkit-flex;
    background: url("http://www.trumphush.com/static/images/logo128x128.png");
    width: 70px;
    height: 70px;
    background-size: 100%;
    background-repeat: no-repeat; }
  #header .info {
    display: flex;
    display: -webkit-flex;
    margin-left: 10px; }
    #header .info p {
      font-size: 23px;
      margin-top: 34px; }
  #header .title {
    margin: 0; }
    #header .title span {
      display: inline-block;
      border: 1px solid #404040;
      background: #404040;
      padding: 18px 20px;
      letter-spacing: 3px;
      color: rgba(255, 255, 255, 0.5);
      line-height: 0; }
      #header .title span.talking {
        color: rgba(255, 249, 57, 0.8); }
  #header h1 {
    font-size: 32px;
    margin-bottom: 0; }
  #header p {
    font-size: 16px; }
  #header h4 {
    margin-bottom: 0;
    margin-top: 50px;
    padding: 0;
    line-height: 0; }

.social {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  flex: 1;
  -webkit-flex: 1; }
  .social img {
    display: inline-block;
    margin-left: 5px;
    width: 32px; }

.footer {
  width: 100%;
  font-size: 12px;
  padding-left: 20px;
  box-sizing: border-box; }
  .footer a {
    text-decoration: none;
    color: #a8049b; }

.clearfix {
  clear: both; }

#loadingWrapper {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in;
  visibility: hidden;
  opacity: 0; }
  #loadingWrapper.active {
    opacity: 1;
    visibility: visible; }
  #loadingWrapper .loading {
    width: 500px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #434380;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden; }
    #loadingWrapper .loading a {
      float: right;
      position: relative;
      bottom: 30px;
      right: 10px;
      color: white;
      font-family: "Pacifico";
      cursor: pointer; }
    #loadingWrapper .loading p {
      font-family: "Press Start 2P", cursive;
      color: white;
      text-align: center; }
    #loadingWrapper .loading img {
      width: 100%;
      height: auto; }

#error {
  z-index: 3;
  background: #ff0065;
  text-align: center;
  padding: 10px;
  color: white;
  visibility: hidden;
  top: 0;
  position: absolute;
  left: 0;
  right: 0; }

audio {
  display: none; }

#audio-widget {
  width: 100%;
  box-sizing: border-box; }
  #audio-widget .row {
    display: flex;
    display: -webkit-flex;
    box-sizing: border-box; }
  #audio-widget .column {
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    background: #eee;
    color: #333333;
    border-left: 1px solid rgba(51, 51, 51, 0.1);
    cursor: pointer;
    flex: 1;
    -webkit-flex: 1;
    height: 75px; }
    #audio-widget .column:first-child {
      border-left: none; }
    #audio-widget .column.active {
      background: #85E2FF; }
    #audio-widget .column p {
      box-sizing: border-box;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      line-height: 23px; }
      #audio-widget .column p i {
        box-sizing: border-box;
        font-style: normal;
        font-size: 18px;
        display: block;
        margin: auto; }

.playlist {
  width: 100%; }
  .playlist .contents {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-around;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap; }
  .playlist .video:hover {
    opacity: 0.8; }
  .playlist .video img {
    width: 180px;
    height: auto;
    border-radius: 3px;
    margin-bottom: 4px; }

.loadMore {
  position: relative;
  bottom: 44px;
  right: 22px;
  cursor: pointer; }

.webui-popover-title {
  font-size: 16px; }

.webui-popover-content {
  font-weight: 300;
  line-height: 1.5; }

.fade-in {
  opacity: 0;
  opacity: 1 \9;
  -webkit-animation: fadeIn ease-in 0.4s;
  -moz-animation: fadeIn ease-in 0.4s;
  animation: fadeIn ease-in 0.4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s; }

.fade-in.f-0 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.fade-in.f-1 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.fade-in.f-2 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.fade-in.f-3 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.fade-in.f-4 {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.fade-in.f-5 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.whats-that {
  margin-left: 20px;
  font-weight: normal;
  text-decoration: underline !important;
  color: inherit;
  cursor: pointer;
  visibility: hidden; }
  .whats-that.active {
    visibility: visible; }

footer {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 12px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  @keyframes fadeIn;
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
